{:paths ["src"]
 :deps
 {aysylu/loom                 {:mvn/version "1.0.2"}
  org.clojure/tools.namespace {:mvn/version "1.3.0"}
  rewrite-clj/rewrite-clj     {:mvn/version "1.1.45"}
  dorothy/dorothy             {:mvn/version "0.0.7"}}}
